body{
    background-color: aqua;
}
.image{
    background-color:white; 
    text-align: center;

    box-shadow: 2px 2px;
    height: 60px;
}
.image-name{
    background-color: white;
    text-align: center;
    height: 30px;
    padding: 60px;
    box-shadow: 2px 2px;
}
.image-writeup{
    background-color: white;
    text-align: center;
    box-shadow: 2px 2px;
}
.column{
    padding-top: 60px ;
}
.row{
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}